@use "@/styles/style-guide/variables/spacing/spacing";
@use "@/styles/style-guide/variables/radius/radius";

.media-card {
    border-radius: radius.$radius-2;
    border: 1px solid var(--color__gray--normal);
    overflow: hidden;
    cursor: pointer;

    &--active {
        outline: 3px solid var(--color__primary);
        outline-offset: -3px;
    }

    &__image {
        background-color: var(--color__gray--normal);
        overflow: hidden;
        aspect-ratio: 4/3;
    }

    &__name {
        border-top: 1px solid var(--color__gray--normal);
        background-color: #fff;
        padding: spacing.$spacing-2;

        &__skeleton {
            height: 1rem;
            display: inline-block;
            width: 100px;
            background-color: var(--color__gray--normal);
            border-radius: radius.$radius-1;
        }
    }
}
