@use "@/styles/style-guide/flex/flex";
@use "@/styles/style-guide/icon/icon";
@use "@/styles/style-guide/variables/spacing/spacing";
@use "sass:math";

.account-link {
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    color: var(--color--text);

    @include flex.flex(spacing.$spacing-2, row, spacing.$spacing-2, spacing.$spacing-0);

    &__image {
        height: icon.$icon-height--l;
        width: icon.$icon-height--l;
        border-radius: math.div(icon.$icon-height--l, 2);
    }
}
