$color__dark: #ffffff;
$color__dark--text: #1c1b1f;

$color__dark__primary: #1c1b1f;
$color__dark__primary--text: #ffffff;

$color__dark__danger: #ee7d80;
$color__dark__danger--text: #ffffff;

$color__dark__gray--dark: #858585;
$color__dark__gray--normal: #d9d9d9;
$color__dark__gray--light: #f1f1f1;
