@use "@/styles/style-guide/flex/flex";
@use "@/styles/style-guide/variables/spacing/spacing";
@use "@/styles/style-guide/icon/icon";
@use "@/styles/style-guide/text/text";

.pane-header {
    justify-content: space-between;
    align-items: center;
    
    @include flex.flex(0, row, spacing.$spacing-3, spacing.$spacing-0);

    &__group {
        @include flex.flex(spacing.$spacing-3, row);
        list-style-type: none;
    }

    &__title {
        @include text.capitalize-first-letter();
        font-weight: bold;
    }
}
