$color__light: #ffffff;
$color__light--text: #1c1b1f;

$color__light__primary: #1c1b1f;
$color__light__primary--text: #ffffff;

$color__light__danger: #ee7d80;
$color__light__danger--text: #ffffff;

$color__light__gray--dark: #858585;
$color__light__gray--normal: #d9d9d9;
$color__light__gray--light: #f1f1f1;
